
p{
    color:wheat;
        font-size: 28px;
}
div{
    color:navy;
    font-size: 28px;
}
table{
    color:violet;
    font-size: 28px;
}

.duclam{
    background-color: black;
    font-size: 38px;
}

.huybeo{
    background-color: red;
    font-size: 38px;
}